


*{
    box-sizing: border-box;
    margin: 0;
    
  }
  
  :root{
    --color-amarillo: #f0a500;
    --color-gris: #dbdbdb;
    --color-negro: #000000;
    --color-naranja: #cf7500;
  } 

  
  
    body{
    background-color: var(--color-gris)
  }
  
  
  /* HEADER */
    header {
    background-color:var(--color-negro);
    padding: 20px
  }

  header .logo {
    padding: 0px;
    margin-top: 5px;
  }
  
  
  .registro header form {
    background-color:#e5e5e5;
    border-radius: 5px;
    padding: 0px 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
  }

/*registro*/

.registro {
  justify-content: center;
  max-width: 80%;
  margin: 10px auto;
  padding: 10px;
  font-size: 14px;
  font-family: sans-serif;
  flex-wrap: wrap;
  display: flex;
}

.registro .form1{
  border: 1px solid black;
  padding: auto;
  margin-bottom: 5px;
  font-family: sans-serif;
  justify-content:center;
  margin: auto;
}

.registro .title h1{
  border:1px solid black;
  padding: 5px;
  font-family: 'bungee';
  width: 100%;
  margin-top: 1px;
  
}


 .registro .login{
  border: 1px solid black;
  padding: 5px;
  font-family: sans-serif;
  flex-wrap: wrap;
  display: flex;
  margin-top: 15px;
 } 

.registro label{
 margin-bottom: 1px;
}

.registro input{
  width: 100%;
}

.registro .sexo{
  width: 10%;
  margin-top: 10px;
}

.registro label{
  padding-top: 5px;
  
}

.registro h4{
  margin: 5px;
  font-family: 'Open Sans';
}

 .registro .btnIngresa{
   width: 40%;
   background-color: #f0f000;
   right: 10px;
   margin: 10px;
   border-width: black;
 }
  
  .registro .form1 a{
    width: 50%;
    padding-bottom: 50px;
    font-family: sans-serif;
  }

  /*tablet*/
@media(min-width: 768px){
  
}

@media(min-width:1024px){

}



