/* /* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans&display=swap');

/* GENERALES */
* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    font-family: 'Bungee';
    font-size: 30px;
}


/* FUENTES 
font-family: 'Bungee', cursive;
font-family: 'Open Sans', sans-serif;
*/


/* VARIABLES */

:root {
    --color-amarillo: #f0a500;
    --color-gris: #dbdbdb;
    --color-negro: #000000;
    --color-naranja: #cf7500;
}

/* CAMBIOS GENERALES */

.carrito a {
    text-decoration: none;
    font-family: 'Open Sans';
    color: black;
}

.carrito a:hover {
    color: black;
    text-decoration: none;
}

.carrito li {
    list-style: none;
}

.carrito body {
    background-color: var(--color-gris)
}


/* HEADER */

header {
    background-color: var(--color-negro);
    padding: 20px
}

header .logo {
    padding: 0px;
    margin-top: 5px;
}

header form {
    background-color: #e5e5e5;
    border-radius: 5px;
    padding: 0px 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header form input {
    background: none;
    border: 0;
    width: 85%;
    margin: 5px 0px;
    padding-right: 5px;
    border-right: 2px solid var(--color-grisClaro);
}


header form button {
    background: none;
    border: 0;
    border: var(--color-negro);
    padding: 0;
    padding-left: 5px;
}

/* NAV BURGER BUTTON */

 nav {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

 nav .burger {
    background-color: var(--color-naranja);
    color: var(--color-gris);
}

nav .nav-1 li a {
    border-bottom: 2px solid var(--color-naranja);
}

.nav .nav-2 li a {
    border-bottom: 2px solid var(--color-naranja);
}

.nav a {
    color: white;
}

/*carrito*/

.carrito .cartTitle h1{
    border:2px solid  black;
    margin-top: 5px;
}
/*Productos elegidos*/
.carrito{

    border: 2px solid black;
    width: 100%;
}
.carrito .container{
    border:2px solid  black;
    margin-top: 5px;
}

/*Contador*/
.carrito .container{
    border:2px solid  black;
    margin-top: 5px;
}


/*Valor unitario*/
.carrito .containerVal{
    border:2px solid  black;
    margin-top: 5px;
}

/*total a pagar*/
.carrito .containerTotal{
    border:2px solid  black;
    margin-top: 5px;

}
.carrito .descuento{
    width: 50%;
}
.carrito .medios{
    width: 50%;
}
.carrito .btn{
    background-color: red;
    color: black;
}
