/* /* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans&display=swap');

/* GENERALES */
* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    font-family: 'Bungee';
    font-size: 30px;
}


/* FUENTES 
font-family: 'Bungee', cursive;
font-family: 'Open Sans', sans-serif;
*/


/* VARIABLES */

:root {
    --color-amarillo: #f0a500;
    --color-gris: #dbdbdb;
    --color-negro: #000000;
    --color-naranja: #cf7500;
}

/* CAMBIOS GENERALES */

.carrito a {
    text-decoration: none;
    font-family: 'Open Sans';
    color: black;
}

.carrito a:hover {
    color: black;
    text-decoration: none;
}

.carrito li {
    list-style: none;
}

.carrito body {
    background-color: var(--color-gris)
}


/* HEADER */

header {
    background-color: var(--color-negro);
    padding: 20px
}

header .logo {
    padding: 0px;
    margin-top: 5px;
}

header form {
    background-color: #e5e5e5;
    border-radius: 5px;
    padding: 0px 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header form input {
    background: none;
    border: 0;
    width: 85%;
    margin: 5px 0px;
    padding-right: 5px;
    border-right: 2px solid var(--color-grisClaro);
}


header form button {
    background: none;
    border: 0;
    border: var(--color-negro);
    padding: 0;
    padding-left: 5px;
}

/* NAV BURGER BUTTON */

nav {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav .burger {
    background-color: var(--color-naranja);
    color: var(--color-gris);
}

nav .nav-1 li a {
    border-bottom: 2px solid var(--color-naranja);
}

.nav .nav-2 li a {
    border-bottom: 2px solid var(--color-naranja);
}

.nav a {
    color: white;
}

/*carrito*/

.cartTitle h1 {
    border: 2px solid black;
    margin-top: 5px;
}

/*Productos elegidos*/
.carrito {
    text-align: center;
    border: 2px solid black;
    width: 100%;
}

.carrito .container {
    border: 2px solid black;
    margin-top: 5px;
}

/*Contador*/
.form-group {
    border: 2px solid black;
    margin-top: 5px;
}


/*Valor unitario*/


/*total a pagar*/

.descuento {
    width: 50%;
}

.medios {
    width: 50%;
}

.center-componentes {
    display: flex;
    align-self: center;
}

/*eliminar*/

/* Variables
================================== */
/* Tables
================================== */
.Rtable {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 3em 0;
    padding: 0;
    text-align: center;
}

.Rtable-cell {
    box-sizing: border-box;
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
    padding: 0.8em 1.2em;
    overflow: hidden;
    list-style: none;
    border: solid 3px white;
    background: rgba(112, 128, 144, 0.2);
}

/*Table column sizing
  ================================== */
.Rtable--2cols>.Rtable-cell {
    width: 50%;
}

.Rtable--3cols>.Rtable-cell {
    width: 33.33%;
}

.Rtable--4cols>.Rtable-cell {
    width: 25%;
}

.Rtable--5cols>.Rtable-cell {
    width: 20%;
}

.Rtable--6cols>.Rtable-cell {
    width: 16.6%;
}

/* Page styling
  ================================== */
@font-face {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans&display=swap');
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url('https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans&display=swap');
}

html {
    height: 100%;
    background-color: #EEE;
}

body {
    box-sizing: border-box;
    min-height: 100%;
    margin: 0 auto;
    padding: 2em;
    max-width: 800px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    background-color: #dbdbdb;
    border: double 3px #DDD;
    border-top: none;
    border-bottom: none;
}


h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

strong {
    color: #dbdbdb;;
}

/* Apply styles
  ================================== */
.Rtable {
    position: relative;
    top: 3px;
    left: 3px;
}

.Rtable-cell {
    margin: -3px 0 0 -3px;
    background-color: white;
    border-color: #e2e6e9;
}

/* Cell styles
  ================================== */



.Rtable-cell {
    background-color: #dbdbdb;
    border-color: #a9b3bc;
}

/* Responsive
  ==================================== */
@media all and (max-width: 500px) {
    .Rtable--collapse {
        display: block;
    }

    .Rtable--collapse>.Rtable-cell {
        width: 100% !important;
    }

    .Rtable--collapse>.Rtable-cell--foot {
        margin-bottom: 1em;
    }
}

.no-flexbox .Rtable {
    display: block;
}

.no-flexbox .Rtable>.Rtable-cell {
    width: 100%;
}

.no-flexbox .Rtable>.Rtable-cell--foot {
    margin-bottom: 1em;
}