<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/detalle.css">
    <title>PT|Detalle</title>
</head>

<body>

    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <a href=""><img src="../public/images/logo.jpeg" alt=""></a>
                </div>
            </div>
        </div>
    </header>


    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="imagen">
                        <img src="../public/images/motoe6.png" alt="">
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-6">
                    <div class="detalle">
                        <h2>modelo x</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, hic delectus ex fugit
                            necessitatibus saepe similique culpa enim debitis. Officia deleniti numquam laboriosam.
                            Provident reprehenderit quisquam voluptatibus iste. Neque tempora ex, accusamus est eligendi
                            animi cupiditate alias blanditiis cum quasi quia consequuntur obcaecati rem ea! Deleniti
                            aperiam commodi ex repellat!
                        </p>
                        <h6>Stock:</h6>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-lg-4">
                    <div class="detalle-2">
                        <h3>$xxxxx</h3>
                        <div class="boton-detalle">
                            <button class="btn btn-primary">Comprar</button>
                            <button class="btn btn-primary">Añadir al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <div class="container">
            <div class="row">
                <div class="mas-opciones">
                    <div class="caja-1 col-4">
                        <div class="imagen col-lg-4">
                            <a href=""><img src="../public/images/motoe6.png" alt=""></a>
                        </div>
                        <div class="info col-lg-8">
                            <h6>Ejemplo1</h6>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, impedit.</p>
                        </div>
                    </div>
                    <div class="caja-2 col-4">
                        <div class="imagen2 col-lg-4">
                            <a href=""><img src="../public/images/motoe6.png" alt=""></a>
                        </div>
                        <div class="info2 col-lg-8">
                            <h6>Ejemplo2</h6>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, maxime!</p>
                        </div>
                    </div>
                    <div class="caja-3 col-4">
                        <div class="imagen3 col-lg-4">
                            <a href=""><img src="../public/images/motoe6.png" alt=""></a>
                        </div>
                        <div class="info3 col-lg-8">
                            <h6>Ejemplo2</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, tempora.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>