<!DOCTYPE html>
<html lang="es">
  
  <%- include('partials/head') %>
  <body>
    
    <header class="container-fluid">
      <div class="container">
        <!--Caja que contiene el logotipo-->
        <div class="row col-12">
          <div class="col-5 col-md-2 col-lg-2 logo">
            <a href=""><img src="images/logo.jpeg" alt="" /></a>
          </div>
        </div>
      </div>
        </header>

    
      <!--titulo formulario-->
      <div class="registro">
      <div class="container col-10">
        <div class="row title">
          <h1>Completa tus datos</h1>
        </div>
      </div>

      
      <!--formulario-->
      <div class="container">
        <div class="row form1 col-10">
          <form action="register.ejs" method="GET">
            <label for="">Nombre</label>
            <input type="text">
            <br>
            <label for="">DNI</label>
            <input type="number" class="dni">
            <br>
            <label for="">Email</label> 
            <input type="text">

            <div class="mitad">
            <label for="">Apellido</label>
            <input type="text">
            <br> 
            <div class="sexo">
            Hombre<input type="radio" name="si" value="S">
            Mujer<input type="radio" name="si" value="N">
          </div>
            <label for="">Contraseña</label>
            <input type="text">

            <button type="submit" class="btnIngresa">Registrarme aquí</button>
           <lu><a href="#">terminos y condiciones</a></lu>
           <br>
          <lu><a href="#">politicas de privacidad</a></li>
          </form>
        </div>
      </div>
    </div> 
        

      <!--Footer-->
      <footer class="container-fluid col-10">
        <div class="row login">
            <h4>¿Ya estás registrado?</h4>
            <button type="submit" class="btnIngresa">Ingresa aquí</button>
        </div>
        </footer>
      </div>   
    </div>
    
    
  </body>
</html>
