<!DOCTYPE html>
<html lang="es">
  
  <%- include('partials/head') %>
  <body>
    
    <header class="container-fluid">
      <div class="container">
        <!--Caja que contiene el logotipo-->
        <div class="row col-12">
          <div class="col-5 col-md-2 col-lg-2 logo">
            <a href=""><img src="images/logo.jpeg" alt="" /></a>
          </div>
        </div>
      </div>
        </header>

    
      <!--titulo formulario-->
      <div class="registro">
      <div class="container col-12 col-md-6">
        <div class="row title">
          <h1>Completa tus datos</h1>
        </div>
      </div>

      
      <!--formulario-->
      <div class="container">
        <div class="row form1 col-12 col-md-6">
          <form action="">
            <label for="">Nombre</label>
            <input type="text">
            <br>
            <label for="">DNI</label>
            <input type="number" class="dni">
            <br>
            <label for="">Email</label>
            <input type="text">

            <div class="row col-md-6">
            <label for="">Apellido</label>
            <input type="text">
            <br> 
            <div class="sexo">
              Hombre<input type="radio">
              Mujer<input type="radio">
          </div>
            <label for="">Contraseña</label>
            <input type="text">

            <button type="submit" class="btnIngresa">Registrarme aquí</button>
          </form>
        </div>
      </div>
    </div> 
        

      <!--Footer-->
      <footer class="container-fluid col-12 col-md-6">
        <div class="row login">
            <h2>¿Ya estás registrado?</h2>
            <button type="submit" class="btnIngresa">Ingresa aquí</button>
        </div>
        </footer>
      </div>   
    </div>
    
    
  </body>
</html>
