<header class="container-fluid">
    <!--Caja contenedora de boostrap-->
    <div class="container">
        <!--Caja que contiene el logotipo, el buscador y botón con un link-->
        <div class="row">
            <!--Caja que contiene el logotipo-->
            <div class="col-5 col-md-2 col-lg-2 logo">
                <a href="/index"><img src="/images/logo.jpeg" alt=""></a>
            </div>
            <!--Finaliza el div.row-->
        </div>
    </div>
    <!--Finaliza caja contenedora bootstrap-->
</header>